// TomTom Brand Typography
@font-face {
  font-family: "nowayitalic";
  src: url("../../Fonts/noway_regular_italic-webfont.woff2") format("woff2"),
    url("../../Fonts/noway_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nowayregular";
  src: url("../../Fonts/noway-regular-webfont.woff2") format("woff2"),
    url("../../Fonts/noway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamblack";
  src: url("../../Fonts/gotham-black-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("../../Fonts/gotham-bold-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambookitalic";
  src: url("../../Fonts/gotham-bookitalic-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-bookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("../../Fonts/gotham-light-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthin";
  src: url("../../Fonts/gotham-thin-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthinitalic";
  src: url("../../Fonts/gotham-thinitalic-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamultraitalic";
  src: url("../../Fonts/gotham-ultraitalic-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-ultraitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlight";
  src: url("../../Fonts/gotham-xlight-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-xlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../../Fonts/gotham-xlightitalic-webfont.woff2") format("woff2"),
    url("../../Fonts/gotham-xlightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
